* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root {
    --primary: #4a1887;
    --secondary: #cf55cd;
    --light: #ffffff;
    --dark: #000000;
}
/* score and timer*/
nav {
    padding: 20px 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav a {
    text-decoration: none;
    font-size: 18.72px;
}
nav h3{
    font-weight: lighter;
}
.scores {
    color: var(--secondary);
    display: flex;
    margin-right: 40%;
}
.timer {
   margin-right: 35px;
}
/*main section*/
.main-page {
    width: 600px;
    margin: 15px auto 0px auto;
    text-align: center;
}

.instructions {
    line-height: 1;
    margin: 10px auto 10px auto;
} 

/*button*/
.btn {
    margin-top: 15px;
    color: var(--light);
    background-color: var(--primary);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}
.btn:hover {
    background-color: var(--secondary);
}